.karaoke-page {
    padding: 20px;
    text-align: center;
    background-image: url(/public/images/a4.jpg);
    background-size: cover;
    color: white;
  }
  
  .videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .video-wrapper {
    width: 300px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    overflow: hidden;
  }
  
  .karaoke-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .karaoke-video:hover {
    transform: scale(1.1);
  }
  