* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.AboutUs,
.events,
.contact_us {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.AboutUs {
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../public/images/aboutus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f96167;
  font-size: 100px;
}

.events {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../public/images/events.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f96167;
  font-size: 100px;
}

.contact_us {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../public/images/contactus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f96167;
  font-size: 100px;
}
