* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.AboutUs {
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../public/images/aboutus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* You can adjust the number of columns based on your design */
  grid-gap: 20px;
}
.founders {
  grid-column: 1 / -1;
  background-color: aliceblue;
  margin-top: 4rem;
  justify-content: space-between;
  background-color: #f9e795;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.founder_1,
.founder_3,
.founder_5 {
  background-color: #f96167;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}

.founder_2,
.founder_4 {
  background-color: #f9e795;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}

.events {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: 180vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.9)), url("../public/images/events.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
}

.event1 {
  background-color: #f96167;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% - 20px); /* Adjust the width based on your design */
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}

.event2 {
  background-color: #f9e795;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% - 20px); /* Adjust the width based on your design */
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}

.event3 {
  background-color: #f96167;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% - 20px); /* Adjust the width based on your design */
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}
.event4 {
  background-color: #f9e795;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(50% - 20px); /* Adjust the width based on your design */
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
}

@media (max-width: 768px) {
  .event1,
  .event2,
  .event3,
  .event4 {
    flex-basis: calc(50% - 20px); /* Adjust the width for smaller screens */
  }
}

@media (max-width: 576px) {
  .event1,
  .event2,
  .event3,
  .event4 {
    flex-basis: 100%; /* Adjust the width for even smaller screens (single column layout) */
  }
}

.images_events {
  height: 30%;
}

.contact_us {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("../public/images/contactus.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
